{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": [
      "tsconfig.json"
    ]
  },
  "plugins": [
    "@typescript-eslint",
    "unused-imports",
    "import"
  ],
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:react-hooks/recommended"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "tsconfig.json"
      }
    }
  },
  "rules": {
    "@typescript-eslint/no-floating-promises": "error",
    "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error",
    "max-len": ["warn", {
      "code": 120
    }],
    "quotes": ["error", "single"],
    "unused-imports/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "import/no-unresolved": "error",
    "no-console": "error",
    "no-restricted-imports": [
      "error",
      {
        "patterns": [
          {
            "group": [
              "../*",
              "./*"
            ],
            "message": "Usage of relative paths is not allowed"
          }
        ]
      }
    ]
  }
}